name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # 允许手动触发

env:
  BUILD_TYPE: Release

jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v4

      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: mingw64
          install: >-
            make
            cmake
            automake
            autoconf
            libtool
            mingw-w64-x86_64-toolchain
            git
            mingw-w64-x86_64-gmp
            mingw-w64-x86_64-openssl

      - name: Set Workspace Path (Unix-style)
        run: |
          echo "WORKSPACE_UNIX=${PWD}" >> $GITHUB_ENV

      - name: Install libdeflate
        run: |
          git clone https://github.com/ebiggers/libdeflate.git "$WORKSPACE_UNIX/libs/ebiggers/libdeflate"
          cd "$WORKSPACE_UNIX/libs/ebiggers/libdeflate"
          make libdeflate.a
          mkdir -p /usr/local/lib /usr/local/include
          cp libdeflate.a /usr/local/lib/
          cp libdeflate.h /usr/local/include/

      - name: Install cURL
        run: |
          git clone https://github.com/curl/curl.git "$WORKSPACE_UNIX/libs/curl/curl"
          cd "$WORKSPACE_UNIX/libs/curl/curl"
          autoreconf -fi
          ./configure \
            --disable-shared \
            --with-schannel \
            --disable-ldap --disable-sspi --without-librtmp \
            --disable-ftp --disable-file --disable-dict --disable-telnet \
            --disable-tftp --disable-rtsp --disable-pop3 --disable-imap \
            --disable-smtp --disable-gopher --disable-smb \
            --without-libidn
          make install

      - name: Configure CMake
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DWIN32=ON

      - name: Build
        run: |
          cmake --build build --config ${{ env.BUILD_TYPE }}

      - uses: actions/upload-artifact@v4
        with:
          name: MotorMC-Windows
          path: ${{ github.workspace }}/build/MotorMC.exe

      - name: Test
        working-directory: ${{ github.workspace }}/build
        run: |
          ./MotorMC.exe test

  build-osx:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          brew install gmp openssl@3

      - name: Link OpenSSL
        run: |
          sudo cp -R /usr/local/opt/openssl@3/lib/* /usr/local/lib/
          sudo cp -R /usr/local/opt/openssl@3/include/* /usr/local/include/

      - name: Install libdeflate
        run: |
          git clone https://github.com/ebiggers/libdeflate.git ${{ github.workspace }}/libs/ebiggers/libdeflate
          cd ${{ github.workspace }}/libs/ebiggers/libdeflate
          make libdeflate.a
          sudo cp libdeflate.a /usr/local/lib/
          sudo cp libdeflate.h /usr/local/include/

      - name: Configure CMake
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: Build
        run: |
          cmake --build build --config ${{ env.BUILD_TYPE }}

      - uses: actions/upload-artifact@v4
        with:
          name: MotorMC-MacOS
          path: ${{ github.workspace }}/build/MotorMC

      - name: Test
        working-directory: ${{ github.workspace }}/build
        run: |
          chmod +x MotorMC
          ./MotorMC test

  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgmp-dev libssl-dev libcurl4-openssl-dev

      - name: Install libdeflate
        run: |
          git clone https://github.com/ebiggers/libdeflate.git ${{ github.workspace }}/libs/ebiggers/libdeflate
          cd ${{ github.workspace }}/libs/ebiggers/libdeflate
          make libdeflate.a
          sudo cp libdeflate.a /usr/local/lib/
          sudo cp libdeflate.h /usr/local/include/

      - name: Configure CMake
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: Build
        run: |
          cmake --build build --config ${{ env.BUILD_TYPE }}

      - uses: actions/upload-artifact@v4
        with:
          name: MotorMC-Ubuntu
          path: ${{ github.workspace }}/build/MotorMC

      - name: Test
        working-directory: ${{ github.workspace }}/build
        run: |
          chmod +x MotorMC
          ./MotorMC test
